{% extends 'parts/base_auth.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="card">
    <h1>Welcome back</h1>

    <form action="/login/" method="POST">
        {% csrf_token %}

        <div class="field">
            <input type="text" name="username" placeholder="Username" required>
        </div>

        <div class="field">
            <input type="password" name="password" placeholder="Password" required>
        </div>

        <button type="submit">Login</button>
    </form>

    <div class="footer">
        Don’t have an account?
        <a href="/register/">Create account</a>
    </div>
</div>
{% endblock %}

