{% extends 'parts/base_main.html' %}

{% block title %}
{% if post %}
    Post by {{ post.author.username }}
{% else %}
Post not found
{% endif %}
{% endblock %}

{% block content %}
    <div class="header">
        {% if user.is_authenticated %}
            <h3>👋 Hello {{ user.username }}</h3>
            <a href="/">Main</a>
            <a href="/user/create_post">Create Post</a>
            <a href="/logout/">Logout</a>
        {% else %}
            <a href="/Main/">Main</a>
            <a href="/login/">Login</a>
            <a href="/logout/">Logout</a>
        {% endif %}
    </div>

{% if post %}
     <div class="post">
            <div class="post-author"><a href="/user/{{post.author.pk}}">{{ post.author.username }}</a></div>
            <div class="post-text">{{ post.text }}</div>
            <div class="post-date">{{ post.time_date }}</div>
        </div>
{% else %}
    <div class="empty">
        Post not found
    </div>
{% endif %}
{% endblock %}

