{% extends 'parts/base_main.html' %}

{% block title %}
{% if post %}
    Post by {{ post.author.username }}
{% else %}
Post not found
{% endif %}
{% endblock %}

{% block content %}
    <div class="header">
        {% if user.is_authenticated %}
            <h3>👋 Hello {{ user.username }}</h3>
            <a href="/">Main</a>
            <a href="/user/create_post">Create Post</a>
            <a href="/logout/">Logout</a>
        {% else %}
            <a href="/Main/">Main</a>
            <a href="/login/">Login</a>
            <a href="/logout/">Logout</a>
        {% endif %}
    </div>

{% if post %}

<div class="post">

    <div class="post-author">
        <a href="/user/{{ post.author.pk }}">{{ post.author.username }}</a>
    </div>

    <div class="post-text">
        {{ post.text }}
    </div>

    {% if post.file %}

    {% with post.file.url|lower as url %}

        {% if ".mp4" in url or ".webm" in url or ".mov" in url %}

                <video controls width="80%" class="post-media">
                    <source src="{{ post.file.url }}">
                </video>

            {% else %}

                <img src="{{ post.file.url }}" class="post-media">

            {% endif %}

        {% endwith %}

    {% endif %}


    <div class="post-date">
        {{ post.created_at }}
    </div>

    <!-- LIKE -->
    <div class="post-actions">
        <form method="post" action="/post/{{ post.pk }}/like/" class="like-form">
            {% csrf_token %}
            <button type="submit" class="like-btn {% if user_liked %}liked{% endif %}">
                ❤️ Like
            </button>

            <span class="like-count">
                {{ post.likes.count }} likes
            </span>
        </form>
    </div>

</div>

<!-- COMMENT BLOCK -->
<div class="post">

    <form method="post" action="/post/{{ post.pk }}/comment/" class="comment-form" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" class="comment" name="text" placeholder="Write your comment here...">

    <label class="attach-btn">
        📎 Attach
        <input type="file"
               name="file_upload"
               class="file-hidden"
               accept="image/*,video/*">
    </label>

    <span class="file-name"></span>

    <button type="submit" class="btn">Comment</button>
    </form>

    {% for comment in comments %}
        <div class="comment">

            <div class="post-author">
                <a href="/user/{{ comment.author.pk }}">
                    {{ comment.author.username }}
                </a>
            </div>

            <div class="post-text">
                {{ comment.text }}
                {% if comment.file %}
                    {% with comment.file.url|lower as url %}
                        {% if ".mp4" in url or ".webm" in url or ".mov" in url %}
                            <video controls width="60%" class="post-media">
                                <source src="{{ comment.file.url }}">
                            </video>
                        {% else %}
                            <img src="{{ comment.file.url }}" alt="" width="60%" class="post-media">
                        {% endif %}
                    {% endwith %}
                {% endif %}
            </div>

            <div class="post-date">
                {{ comment.created_at }}
            </div>

            <!-- COMMENT LIKE -->
            <div class="comment-actions">
                <form method="post" action="/comment/{{ comment.pk }}/like/" class="like-form">
                    {% csrf_token %}

                    <button type="submit"
                            class="like-btn {% if comment.user_liked %}liked{% endif %}">
                        ❤️
                    </button>

                    <span class="like-count">
                        {{ comment.likes_count }}
                    </span>
                </form>
            </div>

        </div>
    {% endfor %}

</div>


{% else %}
    <div class="empty">
        Post not found
    </div>
{% endif %}
{% endblock %}


